# LaTeX intermediate files
*.aux
*.log
*.out
*.toc
*.run.xml
*.nav
*.snm
*.fls
*.fdb_latexmk
*.bcf
*.blg
*.bbl
*.glo
*.ist
*.gls-abr
*.gls
*.glo-abr
*.glg-abr
*.glg

# LaTeX temporary or generated folders
latex.out/
_build/

# Ignore all PDFs, excepts those from ```dist/``` folder
*.pdf
!dist/*.pdf

# Ignore resources under the ```ignored/``` folder
ignored/

# Node modules
**/node_modules